.layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
