.card {
  max-width: 300px;
  max-height: 500px;
}

.content {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hero {
  max-width: 100%;
}

.price {
  color: blue;
}
