.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px;
}

.field {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 20px;
}

.label {
  font-weight: bold;
  margin-right: 20px;
}

.input {
  min-width: 400px;
}

.submit-button {
  margin: 100px;
  padding: 10px;
}
